videoshow.dtd

<!-- DTD for an video show -->
<!ELEMENT videoshow (title, copyright?, video+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT copyright (#PCDATA)>
<!ELEMENT video (source, caption, date?, location?)>
<!ELEMENT source (#PCDATA)>
<!ELEMENT caption (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT location (#PCDATA)>
